Repository akshualy/Discord-Twitch-Live-Notifier: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, flake8, isort, test, build

.gitlab-ci.yml:

stages:
  - lint
  - test
  - build
  - deploy

.install-deps-script: &install-deps
    - curl -sSL https://install.python-poetry.org | python -
    - export PATH=$PATH:$HOME/.local/bin
    - poetry --version
    - poetry install

.base:
    image: python:3.11.2
    only:
      changes:
        - "poetry.lock"
        - "pyproject.toml"
        - "app/*"

.test:
    extends: .base
    stage: test
    before_script:
        - *install-deps

.lint:
    extends: .base
    stage: lint
    before_script:
        - *install-deps

######################################
#                                    #
#             LINT STEPS             #
#                                    #
######################################

black:
    extends: .lint
    script:
        - poetry run black . --check --verbose --diff

flake8:
    extends: .lint
    script:
        - poetry run flake8

isort:
    extends: .lint
    script:
        - poetry run isort --check .

######################################
#                                    #
#             TEST STEPS             #
#                                    #
######################################

test:
    extends: .test
    coverage: '/TOTAL.*\s+(\d+\%)/'
    script:
        - poetry run pytest --cov -v

######################################
#                                    #
#            BUILD STEPS             #
#                                    #
######################################

build:
    stage: build
    image: docker:23.0.1
    services:
        - name: docker:23.0.1-dind
          alias: docker
    variables:
        DOCKER_HOST: tcp://docker:2375
        DOCKER_DRIVER: overlay2
        DOCKER_TLS_CERTDIR: ""
        IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    script:
        - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        - docker build -f Dockerfile -t $IMAGE_TAG --build-arg version=$CI_COMMIT_SHA .
        - docker push $IMAGE_TAG
    only:
      changes:
        - "Dockerfile"
        - "poetry.lock"
        - "pyproject.toml"
        - "app/*"

######################################
#                                    #
#            DEPLOY STEPS            #
#                                    #
######################################

deploy:
  stage: deploy
  image: debian:latest
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - chmod 400 "$SSH_PRIVATE_KEY"
    - ssh-add "$SSH_PRIVATE_KEY"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $REMOTE_HOST 2>/dev/null >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh $SSH_USER@$REMOTE_HOST "sudo /etc/discord-twitch-live-notifier/start.sh"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

Improve docker image size
  .dockerignore
  Dockerfile
Due: build

Add a test for running the entire main loop once
  app/main.py
  app/tests/test_main.py
Due: black, flake8, isort, test, build

Add coverage config
  .coveragerc
  .gitignore
Due: none

Specify ssh port
  .gitlab-ci.yml
Due: none

Add pre-commit
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, test, build

Add already live test
  app/tests/test_main.py
Due: none

Use correct exception for twitch api timeout
  app/twitch_client.py
Due: black, flake8, isort, test, build

Initial commit
  .github/workflows/pipeline.yaml
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, test, build

Fix github action YAML indentation
  .github/workflows/pipeline.yaml
Due: none

Delete GitLab CI
  .gitlab-ci.yml
Due: none

Run actions on correct branch
  .github/workflows/pipeline.yaml
Due: none

Migrate README from GitLab to GitHub
  README.md
Due: none

Create LICENSE
  LICENSE
Due: none

Update README.md
  README.md
Due: none

Rename project, add coverage
  .github/workflows/pipeline.yaml
  README.md
Due: none

Create cov report XML
  .github/workflows/pipeline.yaml
Due: none

Use correct coverage badge
  README.md
Due: none

Build for arm64 and amd64
  .github/workflows/pipeline.yaml
  Dockerfile
  app/main.py
Due: black, flake8, isort, test, build

Update build push action and package versions
  .github/workflows/pipeline.yaml
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, test, build

Temporarily build only arm64 image
  .github/workflows/pipeline.yaml
Due: none

Revert entrypoint change, build amd64 again
  .github/workflows/pipeline.yaml
  Dockerfile
Due: build

Update packages, add error logs on connection issue
  .flake8
  app/twitch_client.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, test, build

Change entrypoint, add dotenv for local debug
  Dockerfile
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, test, build

Check how recently the streamer was live before pinging again
  app/main.py
Due: black, flake8, isort, test, build

Catch errors when calling Discord API and re-try
  app/discord_client.py
  app/tests/conftest.py
  app/tests/test_discord_client.py
Due: black, flake8, isort, test, build

Log less about common connection errors
  app/twitch_client.py
Due: black, flake8, isort, test, build

Add more reliable way to recover from crashes
  app/discord_client.py
  app/main.py
  app/twitch_client.py
Due: black, flake8, isort, test, build

Fix tests for crash recovery
  app/main.py
  app/tests/test_discord_client.py
  app/tests/test_main.py
Due: black, flake8, isort, test, build
